<main>
  <h1>Bienvenido {{name}}</h1>
  <div>
    {{#if permission}}
      <h2>PERMITIDO!!!</h2>
    {{else}}
      <h2>DENEGADO!!!</h2>
    {{/if}}

    <ul>
      {{#each products}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</main>