<main class="container">
  <h1>Inicio de sesi칩n</h1>

  <div id="errorAlert" class="alert alert-danger d-none">Error: correo o
    contrase침a incorrectas</div>

  <form action="/api/v1/sessions" method="post" id="loginForm">

    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email" class="form-control" />

    <label for="password" class="form-label">Contrase침a</label>
    <input type="password" name="password" id="password" class="form-control" />

    <input type="submit" value="Iniciar sesi칩n" />
  </form>

  <div><a
      class="btn btn-dark d-flex align-items-center justify-content-center"
      href="/api/v1/sessions/github"
    >Entrar con GitHub</a></div>
</main>
<script src="/js/login.js"></script>