<main class="container">
  <h1>Inicio de sesión</h1>

  <div id="errorAlert" class="alert alert-danger d-none">Error:
    <span id="errorAlertSpan"></span>
  </div>

  <form action="/api/v1/sessions" method="post" id="loginForm">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email" class="form-control" />

    <label for="password" class="form-label">Contraseña</label>
    <input type="password" name="password" id="password" class="form-control" />

    <input type="submit" value="Iniciar sesión" />
  </form>

  <div><a
      class="btn btn-dark d-flex align-items-center justify-content-center"
      href="/api/v1/sessions/github"
    >Entrar con GitHub</a></div>
</main>
<script type="module" src="/js/login.js"></script>