<main>
  <h1>Productos</h1>

  <ul id='productsList'>
    {{#each products}}
      <li >
        <p>{{{this.title}}}</p>
        <p>{{{this.description}}}</p>
        <p>${{{this.price}}}</p>
      </li>
    {{/each}}
  </ul>
</main>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/realTimeProducts.js'></script>