<main>
  <h1>Productos - tiempo real</h1>

  <ul id="productsList">
    {{#each products}}
      <li class="product">
        <p class="product__data product__title">{{{this.title}}}</p>
        <p class="product__data product__description">{{{this.description}}}</p>
        <p class="product__data product__price">${{{this.price}}}</p>
      </li>
    {{/each}}
  </ul>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>