<main class="container d-flex flex-column align-items-center">
  <h1>Compra completada con éxito</h1>
  <div
    id="successAlert"
    class="container alert alert-success alert-dismissible d-flex flex-column align-items-center p-3 m-2"
  >
    <p>Se te ha enviado un correo de confirmación de compra.</p>
    <p>
      <strong>Id de compra: {{ticket._id}}</strong>
    </p>
  </div>
</main>